@import "../../stylex/index.scss";

.selectWrapper {
  position: relative;
  display: inline-block;

  .select {
    width: 100%;
    padding-left: $spacing-sm;
    padding-top: $spacing-sm;
    padding-bottom: $spacing-sm;
    padding-right: $spacing-xl;
    color: $primary-color;
    border: 1px solid $borderLight-color;
    border-radius: $border-radius-lg;
    transition: all 0.2s ease-in;

    &:active,
    &:hover,
    &:focus {
      outline: none;
    }
  }
}
